body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

body > header {
    background-color: #6A6E09;
    color: white;
    display: inline;
    height: 22vh;
   
    
}

body {

    background-color: #FFE5AD
}

#main-header {
   
display:flex;
    
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif, Helvetica, sans-serif;
    width: 20%;
    text-shadow:
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
    justify-content: space-between;
}

ul {
    margin:0px
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 12%;
}

#nav-ul {

    display:flex;
    margin-left: 1vh;
    text-decoration: none;

}

#nav-ul > li {

    padding:8px;
    margin: 16px;

}



body > main article {
    width: 80%;
    margin: auto
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {

    width: 80%;
}

#main-content aside {
    width: 20%;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

body > footer {
background-color:  #FFE5AD;
color: white;
display: flex;
font-family: "Fredoka One", sans-serif, Helvetica, sans-serif;
}


img {
    border-radius: 50%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
    margin-bottom: 5px;
}

#footer-ul > div> li > a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-width: 1.8px;
    border-radius: 6%;
    margin:0px
    
}